<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table,
        th,
        td{
            border: 2px solid black;
            border-collapse: collapse;
        }
    </style>
    
</head>
<body>
    <form method="post">
        <label for="Name">Name:</label>
        <input type="text" name="Name"><br><br>

        <label for="Age">Age:</label>
        <input type="number" name="Age"><br><br>

        <label for="Roll_NO">Roll_NO:</label>
        <input type="number" name="Roll_NO"><br><br>

        <label for="Mark1">Mark1:</label>
        <input type="number" name="Mark1"><br><br>

        <label for="Mark2">Mark2:</label>
        <input type="number" name="Mark2"><br><br>

        <label for="Mark3">Mark3:</label>
        <input type="number" name="Mark3"><br><br>

        <label for="Mark4">Mark4:</label>
        <input type="number" name="Mark4"><br><br>

        <label for="Mark5">Mark5:</label>
        <input type="number" name="Mark5"><br><br>

        <input type="submit" value="submit">


    </form>
    {{list1}}

    <table>
        <tr>
            <th colspan="4">Student detail</th>
            <th colspan="5">Marks</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Roll_NO</th>
            <th>Mark1</th>
            <th>Mark2</th>
            <th>Mark3</th>
            <th>Mark4</th>
            <th>Mark5</th>
        </tr>

        {%for i in list1%}

        <tr>
            <td>{{loop.index}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Age}}</td>
            <td>{{i.Roll_NO}}</td>
            {%for j in i.Marks%}
            <td>{{j}}</td>
            {%endfor%}
            <td><a href="{{url_for('delete',a=loop.index)}}">Delete</a></td>
            <td><a href="{{url_for('edit',index=loop.index)}}">Edit</a></td>
        </tr>
        {%endfor%}
    
    </table>
</body>
</html>